<html>
  <head>
    <title>Éditer un potin</title>
  </head>
  <body>
    <h1>Édite un potin !</h1>
    <p>Modifie ton potin via le formulaire ci-dessous</p>
    <form action='/gossips/id/edit/' method='POST'>
      Indique le numéro du potin à modifier: <input type='text' name='edit_row'/><br/>
      Nouveau nom : <input type='text' name='edit_author'/><br/>
      Nouveau potin : <input type='text' name='edit_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>


